.ticket {
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 0.6rem;
  overflow: hidden;
  width: 9;
  background-color: white;
}

.ticket-header {
  background-color: #000;
  color: #fff;
  display: flex;
  border-radius: 5px;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.ticket-header:hover {
  color: #fff;
}

.ticket-header-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ticket-header-status {
  min-width: 6rem;
  text-align: center;
}

.ticket-header-title {
  flex: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1em;
  font-weight: 700;
}

.ticket-header-arrow {
  flex: 1;
  text-align: center;
}

.ticket-details {
  background-color: #f5f5f5;
  padding: 1rem;
}

.ticket-details-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.ticket-details-header-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.ticket-details-header-close {
  margin-left: auto;
  cursor: pointer;
}

.ticket-details-description {
  margin-bottom: 1rem;
}

.ticket-details-footer {
  display: flex;
  flex-wrap: wrap;
}

.ticket-details-footer-item {
  flex: 1 1 20%;
  margin-bottom: 0.5rem;
}

.ticket-details-footer-label {
  font-weight: bold;
}

.ticket-details-footer-value {
  margin-left: 0.5rem;
}

.underline {
  position: relative;
  text-decoration: none;
}

.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  background-color: var(--neobrutal-accent-color-two);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.underline:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.neobrutalist-checkbox {
  position: relative;
  display: block;
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.neobrutalist-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  background-color: transparent;
}

.neobrutalist-checkbox:hover input[type="checkbox"] ~ .checkmark {
  background-color: #fff;
}

.neobrutalist-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.neobrutalist-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

.neobrutalist-checkbox .label-text {
  margin-left: 30px;
}

.neobrutalist-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media screen and (max-width: 500px) {
  .ticket {
    font-size: 0.7rem;
  }

  .ticket-header {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .ticket {
    max-width: 220px;
  }
  .ticket-header {
    font-size: 14px;
  }

  .ticket-header-status {
    width: 3rem;
  }
}
