.user-profile-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.user-profile-card {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--neobrutal-base-color);
  background-image: linear-gradient(
    43deg,
    var(--neobrutal-accent-color-one) 0%,
    var(--neobrutal-accent-color-two) 46%,
    var(--neobrutal-accent-color-three) 100%
  );
}

.profile-picture {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  color: white;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details {
  flex-grow: 1;
  display: flex;
  color: white;
}

.profile-details h2 {
  margin: 0;
  margin-bottom: 5px;
}

.detail-row {
  margin: 0 0.5em;
}

.neobrutalist-border {
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .user-profile-container {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .user-profile-container {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .user-profile-container {
    justify-content: center;
  }
}
